@import "../../../styles-modules/effects.scss";
@import "../../../styles-modules/colors.scss";

.footer-main-container {
    background-color: $primary-color;

    .row-section-general-styles {
        margin: 20px;

        .col-cont-styles {
            margin-top: 20px;
        }
    }
}
