<div class="row us-section">
    <h1 class="us-title">Bienvenido!</h1>
    <p> En Aurum Travel, fundada el 1 de enero de 2025, nos especializamos en crear viajes únicos y personalizados. Con un equipo experto, ofrecemos experiencias exclusivas adaptadas a tus necesidades, garantizando recuerdos inolvidables. Viaja con nosotros y haz de tu aventura una experiencia excepcional.</p>
</div>
<div class="row">
    <app-banner-show-info-template 
    [dataToShow]="locationsConstants?.destinationInfo?.data" 
    [horizontal]="locationsConstants?.bannerDestinationHomePageInfo?.horizontal"
    [buttonSection] = 'locationsConstants?.bannerDestinationHomePageInfo?.buttonSection'
    [title] = 'locationsConstants?.bannerDestinationHomePageInfo?.title'
></app-banner-show-info-template>
</div>

<div class="row">
    <app-banner-show-info-template 
    [dataToShow]="locationsConstants?.bannerCircuitsHomePageInfo?.data" 
    [horizontal]="locationsConstants?.bannerCircuitsHomePageInfo?.horizontal"
    [title] = 'locationsConstants?.bannerCircuitsHomePageInfo?.title'
    [cardType]="2"
></app-banner-show-info-template>
</div>

