<div class="banner-container">
    <div class="row banner-title">
        <h1>Destinos</h1>
    </div>
    <div class="row">
        <div>
            <div class="col-sm banner-content-hor">
                <app-card-only-text></app-card-only-text>
                <app-card-only-text></app-card-only-text>
                <app-card-only-text></app-card-only-text>
                <app-card-only-text></app-card-only-text>
                <app-card-only-text></app-card-only-text>
                <app-card-only-text></app-card-only-text>
            </div>
        </div>
    </div>
    <div class="row">
        <div style="text-align: right;">
            <button class="btn btn-success" style="width: 100px; margin: 20px 40px 20px 20px; border-radius: 10px;">Ver Más</button>
        </div>
    </div>
</div>