@import '../../../styles-modules/scroll-bar-v1.scss';
@import '../../../styles-modules/colors.scss';

.banner-container{
    // background: $sm-primary-bg-opacity;
    .banner-title{
        margin: 20px 10px 0px 20px;
        color: $card-title-font-color;
    }
    .banner-content-hor {
        display: flex;
        overflow-x: auto;
        margin: auto;
        width: 90%;
    }
    .banner-content-ver {
        display: ruby;
        overflow-y: auto;
        margin: auto;
    }
}
