// Color variables
$primary-color: #005CBA;
$secondary-color: #00B5C3;
$primary-bg-light: white;
$primary-text-emphasis: #426dad;
$sm-primary-bg-opacity:rgba(0, 0, 0, 0.3);


$card-title-font-color: #45545E;
$dark-font-color:black;